In [52]:
%run E:/Jupyter/A_DNN/risk_factors/risk_factors.py

    age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0  51.0  1.0  4.0     140.0  299.0  0.0      0.0    173.0    1.0      1.6
1  59.0  1.0  4.0     110.0  239.0  0.0      2.0    142.0    1.0      1.2
2  70.0  1.0  4.0     130.0  322.0  0.0      2.0    109.0    0.0      2.4
3  52.0  1.0  2.0     128.0  205.0  1.0      0.0    184.0    0.0      0.0
4  60.0  1.0  4.0     145.0  282.0  0.0      2.0    142.0    1.0      2.8

   slope   ca  thal  num age_category  total_risk  exercise_angina  \
0    1.0  0.0   7.0    1  Middle-aged       439.0             True
1    2.0  1.0   7.0    1  Middle-aged       349.0            False
2    2.0  3.0   3.0    1       Senior       452.0            False
3    1.0  0.0   3.0    0  Middle-aged       333.0            False
4    2.0  2.0   7.0    1       Senior       427.0            False

   cholesterol_hdl_ratio
0               1.728324
1               1.683099
2               2.954128
3               1.114130
4               1.985915
Training Accuracy: 0.98
Testing Accuracy: 0.96

Confusion Matrix training:
[[249   2]
 [  9 198]]

Confusion Matrix testing:
[[61  2]
 [ 3 49]]

Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.97      0.96        63
           1       0.96      0.94      0.95        52

    accuracy                           0.96       115
   macro avg       0.96      0.96      0.96       115
weighted avg       0.96      0.96      0.96       115

In [53]:
filename = './models/gradient_boost_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.9565217391304348

In [54]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,total_risk,exercise_angina,cholesterol_hdl_ratio
513,42.0,1.0,1.0,148.0,244.0,0.0,2.0,178.0,0.0,0.8,1.0,2.0,3.0,392.0,False,1.370787
70,60.0,0.0,4.0,150.0,258.0,0.0,2.0,157.0,0.0,2.6,2.0,2.0,7.0,408.0,False,1.643312
131,44.0,1.0,2.0,120.0,220.0,0.0,0.0,170.0,0.0,0.0,1.0,0.0,3.0,340.0,False,1.294118
405,58.0,1.0,2.0,120.0,284.0,0.0,2.0,160.0,0.0,1.8,2.0,0.0,3.0,404.0,False,1.775000
544,59.0,1.0,1.0,160.0,273.0,0.0,2.0,125.0,0.0,0.0,1.0,0.0,3.0,433.0,False,2.184000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,62.0,1.0,2.0,120.0,281.0,0.0,2.0,103.0,0.0,1.4,2.0,1.0,7.0,401.0,False,2.728155
250,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,366.0,False,1.356322
530,60.0,1.0,4.0,125.0,258.0,0.0,2.0,141.0,1.0,2.8,2.0,1.0,7.0,383.0,False,1.829787
506,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,446.0,False,2.648148
68,51.0,0.0,3.0,120.0,295.0,0.0,2.0,157.0,0.0,0.6,1.0,0.0,3.0,415.0,False,1.878981

In [55]:
y_test

513    0
70     1
131    0
405    1
544    1
      ..
75     1
250    1
530    1
506    1
68     0
Name: num, Length: 115, dtype: int64

In [56]:
type(y_test)

pandas.core.series.Series

In [57]:
import numpy as np
import pandas as pd

In [58]:
file_path = "./test/patient1.csv" ##check entering my own data

In [59]:
df = pd.read_csv(file_path)

In [60]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,total_risk,exercise_angina,cholesterol_hdl_ratio
0,60,0,4,150,258,0,2,157,0,2.6,2,2,7,408,False,1.643312
1,23,1,15,150,100,0,3,125,1,1.6,1,2,5,100,False,1.643312

In [61]:
X_test_1 = df  #test this dataframe

In [62]:
y_test_1 = [] #test this series, but can be tested by list or by np.zero

In [63]:
#result = loaded_model.score(X_test_1, y_test_1)
y_pred = loaded_model.predict(X_test_1)

In [64]:
y_pred

array([1, 1], dtype=int64)

In [65]:
result = loaded_model.score(X_test_1, y_pred)  ##directly predicted ##check score of prediction according to trained model

In [66]:
result

1.0

In [75]:
conf_matrix = confusion_matrix(y_test[69:71], y_pred)
print('\nConfusion Matrix testing:')
print(conf_matrix)

Confusion Matrix testing:
[[2]]

In [76]:
classification_rep = classification_report(y_test[69:71], y_pred)
print(classification_rep)

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         2

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2